# Git 版本控制相关：Docker构建不需要Git的历史记录
.git
.gitignore

# 本地 Python 虚拟环境：我们已经在 Dockerfile 中使用 pip 安装了依赖，不需要本地环境
venv
.venv

# IDE/编辑器配置：仅对您本地开发有用
.vscode
.idea

# 日志和缓存文件：临时文件，不需要在镜像中
*.log
tmp/
temp/

# Docker 自己的文件：在构建时没必要复制自身
Dockerfile
.dockerignore

# 编译的Python文件缓存：即使在 .gitignore 中忽略了，在这里也需要再次忽略
__pycache__
*.pyc

# 测试数据
data/
src/