# Python 忽略项
__pycache__/
*.pyc
venv/
.venv/
.mypy_cache/
.pytest_cache/

# 编辑器/IDE 忽略项
.vscode/

# Docker 忽略项
*.o
*.so
.DS_Store

# 测试数据
data/
src/

#mlflow的本地数据存储
mlruns/
mlartifacts/

# 忽略所有的环境配置文件
.env
key.env
*.env

# 忽略 Jupyter 的检查点备份
.ipynb_checkpoints/
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/
*-checkpoint.ipynb

#忽略postgres数据文件
postgres_data/

#chainlit
.chainlit/

#前端
.frontend/
frontend/

# 数据与日志 (非常重要，防止镜像过大)
logs/*
postgres_logs/
postgres_data/
redis_data/
*.log
.logs/

#密钥
deploy/nginx
#本地测试
tests/test_demo.py
